body {
  margin: 0;
  background-color: #252522;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    "username    username"
    "password    password"
    "login       register";
  grid-template-rows: 35px 35px 100px;
  place-content: center center;
  grid-gap: 15px;
  min-height: 100vh;
}

.login {
  grid-area: login;
}

.register {
  grid-area: register;
}

button {
  width: 20vw;
  max-width: 300px;
  height: 35px;
  font-size: 16px;
  margin: 0;
  background-color: #16697a;
  color: #e1faff;
  border-radius: 5px;
  border: none;
}

.compile__button:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.input {
  grid-area: input;
  font-size: 16px;
}

.output {
  grid-area: output;
  background-color: rgb(24, 24, 24);
  color: white;
  margin: 0;
  font-size: 16px;
  padding: 20px;
}
